{% extends "../base.html" %}

{% block title %}J01{% endblock %}

{% block content %}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>


// // Creates a new editor instance
// const ed = new tinymce.Editor('aa', {
//   some_setting: 1
// }, tinymce.EditorManager);
// // Rendering editor
// ed.render();



// tinymce.init({
//   selector: 'textarea',
//   toolbar: 'urldialog hoho',
//   setup: (editor) => {
//     // editor.on('click', () => {
//     //   alert('heheh');
//     // });
//     editor.ui.registry.addButton('urldialog', {
//       icon: 'gallery',
//       onAction: () => editor.windowManager.openUrl({
//         title: 'URL Dialog Demo',
//         url: 'https://example.com',
//       })
//     });
//     editor.ui.registry.addButton('hoho', {
//       icon: 'gallery',
//       onAction: () => editor.windowManager.openUrl({
//         title: 'URL hoho Demo',
//         url: 'https://example.com',
//       })
//     });
//   },
//   content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
// });


var a = tinymce.init({
  selector: 'textarea',
  toolbar: 'urldialog hoho',
  setup: (editor) => {
    //이때의 editor는 https://www.tiny.cloud/docs/tinymce/6/apis/tinymce.editor/ 이므로
    //https://www.tiny.cloud/docs/tinymce/6/apis/tinymce.editor.ui.registry/ 이것과
    //https://www.tiny.cloud/docs/tinymce/6/apis/tinymce.editor.ui.ui/ 이것과 연관되어 있다.
    // alert(editor.ui.isEnabled()); 이런 것이 가능
    // alert(JSON.stringify(editor.ui));
    // alert(JSON.stringify(editor.ui.registry));


var keys = '';
for (var key in editor) {
    // Javascript의 for-in문을 사용해 key를 뽑아낼 수 있다.
    // key 변수에는 obj가 가진 key가 하나씩 들어온다.
    
    // 가져온 key를 이용해 value를 추출하자.
    // 두 가지 형식이 존재한다.
    //     1. obj.a
    //     2. obj[a]
    // alert(key);

    keys = keys + '<br>' +key;

}

alert(keys);

    // editor.on('click', () => {
      // alert(JSON.stringify(editor));
      // console.log(editor);
    // });
    editor.ui.registry.addButton('urldialog', {
      icon: 'gallery',
      onAction: () => editor.windowManager.openUrl({
        title: 'URL Dialog Demo',
        url: 'https://example.com',
      })
    });

    // alert(JSON.stringify(editor.ui.registry));
    editor.ui.registry.addButton('hoho', {
      icon: 'gallery',
      onAction: () => editor.windowManager.openUrl({
        title: 'URL hoho Demo',
        url: 'https://example.com',
      })
    });

    // alert(JSON.stringify(editor.ui));
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
}).then((editors) => {
  //https://www.tiny.cloud/docs/tinymce/6/apis/tinymce.root/#init
  //이때의 editors는 init으로 초기화 된 모든 editor를 말함.
  //do something;
  // alert(Object.keys(editors)[0]);
            // for (var key in editors) {
              // Javascript의 for-in문을 사용해 key를 뽑아낼 수 있다.
              // key 변수에는 obj가 가진 key가 하나씩 들어온다.
              
              // 가져온 key를 이용해 value를 추출하자.
              // 두 가지 형식이 존재한다.
              //     1. obj.a
              //     2. obj[a]
              // alert(key);
            // }
});

// alert(JSON.stringify(a.Active));
// init 함수의 리턴값은 promise
</script>
    <div class="container mt-3">
      <h1 class="h1 fw-bold">J01</h1>
      <hr/>
      {% for b in buckets %}
        {{ b.name }}
      {% endfor %}
      <textarea id="aa"></textarea>
      <input type="file">
    </div>
{% endblock %}