{% extends "../base.html" %}

{% block title %}J01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">J01 파일 업로더</h1>
    <hr/>

    <ul class="list-group">
      {% for o in objects %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://s3.ap-northeast-2.amazonaws.com/{{ o.bucket_name }}/{{ o.key | urlencode }}">
          {{ o.key }}
        </a>
        <span class="badge bg-primary rounded-pill">1</span>
      </li>
      {% endfor %}
    </ul>

  </div>

{% endblock %}