{% extends "../base.html" %}

{% block title %}J01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">J01 파일 목록</h1>
    <hr/>

    <form method="POST" action="{% url 'J01:list' %}">
      {% csrf_token %}
      <ul class="list-group mb-3">
        {% for o in objects %}
          <li class="list-group-item">
            <input class="form-check-input mx-2" type="checkbox" value="{{ o.key }}" name="keys[]">
            <a href="https://s3.ap-northeast-2.amazonaws.com/{{ o.bucket_name }}/{{ o.key | urlencode }}" traget="_blank">
            {{ o.key }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">삭제</button>
    </form>

    <hr/>
    <a href="{% url 'J01:upload' %}">파일 업로드 페이지로 이동</a>
    
  </div>

{% endblock %}