{% extends "../base.html" %}

{% block title %}B01{% endblock %}

{% block content %}
    <div class="container mt-3">
      <h1 class="h1 fw-bold">B01: 개요</h1>
      <hr/>

      
      <h2 class="h2">회원정보</h2>
        {{ user }}(ID: {{ user.id }})
      <hr/>

    {% if user.is_authenticated %}
      <h2 class="h2">뷰(View)</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item"><a href="{% url 'B01:about' %}">개요 / About(TemplateView)</a></li>

      </ul>
    {% else %}
      <h2 class="h2">뷰(View)</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item"><a href="{% url 'B01:about' %}">개요 / About(TemplateView)</a></li>

      </ul>
    {% endif %}

    </div>
{% endblock %}