{% extends "../base.html" %}

{% block title %}C01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">C01: 소설가 상세</h1>
    <p><i class="bi bi-sign-turn-left mx-1"></i><a href="{% url 'C01:about' %}">개요로 돌아가기</a></p>
    <hr/>

    <div class="row">
      <div class="col-lg-6 col-md-6 mb-3">
        <img src="{{ writer.picture }}" class="d-block mx-lg-auto img-fluid" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 col-md-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ writer.penname }} {{ writer.name }}</h1>
        <h2>생년월일</h2>
        <p class="lead">{{ writer.birthday }}</p>
        <h2>출생지</h2>
        <p class="lead">{{ writer.birthplace }}</p>
        <h2>약력</h2>
        <p class="lead">{{ writer.history }}</p>
        <h2>작품</h2>
        <p class="lead">{{ writer.work }}</p>

        <a class="btn btn-primary" href="{% url 'C01:update' pk=writer.id %}">수정</a>
        <a class="btn btn-danger" href="{% url 'C01:delete' pk=writer.id %}">삭제</a>

      </div>
    </div>

  </div>

{% endblock %}