{% extends "../base.html" %}

{% block title %}E01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">E01: 게시물 상세</h1>
    <p><i class="bi bi-sign-turn-left mx-1"></i><a href="{% url 'E01:about' %}">개요로 돌아가기</a></p>
    <hr/>

    <div class="row">
      <div class="col-lg-6 col-md-6 mb-3">
        <img src="{{ Article.thumbnail }}" class="d-block mx-lg-auto img-fluid" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="fw-bold">{{ Article.title }}</h2>
        <h3>작성일</h3>
        <p class="lead">{{ Article.published }}</p>
        <h3>수정일</h3>
        <p class="lead">{{ Article.modified }}</p>
        <h3>작성자</h3>
        <p class="lead">{{ Article.user_id }}</p>
      </div>
    </div>

    <h3>내용</h3>
    <div class="mb-3">
      {{ Article.content | safe }}
    </div>

    <a class="btn btn-primary" href="{% url 'E01:update' pk=Article.id %}">수정</a>
    <a class="btn btn-danger" href="{% url 'E01:delete' pk=Article.id %}">삭제</a>

  </div>

{% endblock %}