{% extends "../base.html" %}

{% block title %}E01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">E01: 회의실 상세</h1>
    <p><i class="bi bi-sign-turn-left mx-1"></i><a href="{% url 'E01:about' %}">개요로 돌아가기</a></p>
    <hr/>

    <div class="row">
      <div class="col-lg-6 col-md-6 mb-3">
        <img src="{{ MeetingRoom.picture }}" class="d-block mx-lg-auto img-fluid" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="fw-bold">{{ MeetingRoom.name }}</h2>
        <h3>주소</h3>
        <p class="lead">{{ MeetingRoom.address }}</p>
        <h3>면적 / 수용인원</h3>
        <p class="lead">{{ MeetingRoom.space }} / {{ MeetingRoom.capacity }}</p>
        <h3>음향시설</h3>
        <p class="lead">{{ MeetingRoom.audio }}</p>
        <h3>영상시설</h3>
        <p class="lead">{{ MeetingRoom.video }}</p>
        <h3>기타시설</h3>
        <p class="lead">{{ MeetingRoom.other }}</p>
        <h3>상세설명</h3>
        <p class="lead">{{ MeetingRoom.information }}</p>

        <a class="btn btn-primary" href="{% url 'E01:update' pk=MeetingRoom.id %}">수정</a>
        <a class="btn btn-danger" href="{% url 'E01:delete' pk=MeetingRoom.id %}">삭제</a>

      </div>
    </div>

  </div>

{% endblock %}