{% extends "../base.html" %}

{% block title %}A01{% endblock %}

{% block content %}
    <div class="container mt-3">
      <h1 class="h1 fw-bold">A01: 계정정보 변경</h1>
      <hr/>

      <div class="row">
        <nav class="col-md-3 col-lg-2 mb-3">
          <ul class="nav flex-column">
            <li class="nav-item border-bottom">
              <a class="nav-link" href="{% url 'A01:about' %}">
                <i class="bi bi-house"></i><span class="fw-normal mx-2">메인화면으로</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'A01:update-username' pk=request.user.id %}">
                <i class="bi bi-pass"></i><span class="fw-normal mx-2">아이디 변경</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'A01:update-email' pk=request.user.id %}">
                <i class="bi bi-envelope"></i><span class="fw-normal mx-2">이메일 변경</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'A01:update-password' pk=request.user.id %}">
                <i class="bi bi-lock"></i><span class="fw-normal mx-2">비밀번호 변경</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="col-md-9 col-lg-10">
        {% block form %}
        
        {% endblock %}
        </div>
      </div><!-- row -->

    </div>
{% endblock %}