{% extends "./nav.html" %}

{% block form %}
  <label class="fs-5 fw-semibold">사용중인 이메일</label>
    <p>{{ request.user.email }}</p>
    <hr/>

  <form method="POST">
    {% csrf_token %}
    <label class="form-label fs-5 fw-semibold">{{ form.email.label }}</label>
    <p>새롭게 사용할 이메일을 입력하세요.</p>
    {{ form.email }}

    {% if message %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">확인</button>
  </form>
{% endblock %}