{% extends "../base.html" %}

{% block title %}C01{% endblock %}

{% block content %}

  <div class="container mt-3" id="custom-cards">
    <h1 class="h1 fw-bold">C01</h1>
    <hr/>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ writer.picture }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ writer.name }}</h1>
        <h2>약력</h2>
        <p class="lead">{{ writer.history }}</p>
        <h2>저서</h2>
        <p class="lead">{{ writer.work }}</p>
        <h2>작가의 말</h2>
        <p class="lead">{{ writer.greeting }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="http://{{ request.get_host }}/C01/writer/{{ writer.id }}/update">
            <button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2">수정</button>
          </a>
          <a href="http://{{ request.get_host }}/C01/writer/{{ writer.id }}/delete">
            <button type="button" class="btn btn-outline-danger btn-lg px-4">삭제</button>
          </a>
        </div>
      </div>
    </div>

  </div>

{% endblock %}