{% extends "../base.html" %}

{% block title %}A00{% endblock %}

{% block content %}
    <div class="container mt-3">
      <h1 class="h1 fw-bold">A00</h1>
      <hr/>

      <h2 class="h2">Models</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item">Username</li>
        <li class="list-group-item">Password</li>
      </ul>
      <!-- <hr/> -->

      <h2 class="h2">Views</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item"><a href="{% url 'a00:index' %}">첫 화면(index)</a></li>
        <li class="list-group-item"><a href="{% url 'a00:signin' %}">로그인(signin)</a></li>
        <li class="list-group-item"><a href="{% url 'a00:signout' %}">로그아웃(signout)</a></li>
        <li class="list-group-item"><a href="{% url 'a00:signup' %}">회원가입(signup)</a></li>
        <li class="list-group-item"><a href="{% url 'a00:change-username' %}">이메일 변경(change-username)</a></li>
        <li class="list-group-item"><a href="{% url 'a00:change-password' %}">비밀번호 변경(change-password)</a></li>
      </ul>

      <h2 class="h2">Status</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item">username : {{user.username}}</li>
        <li class="list-group-item">email : {{user.email}}</li>
        <li class="list-group-item">password : {{user.password}}</li>
      </ul>

    </div>
{% endblock %}