{% extends "../base.html" %}

{% block title %}D01{% endblock %}

{% block content %}

  <div class="container mt-3" id="custom-cards">
    <h1 class="h1 fw-bold">D01</h1>
    <hr/>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ book.thumbnail }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ book.title }}</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum varius nunc, nec dapibus lorem facilisis eget. Aenean maximus orci et bibendum venenatis. Cras viverra sapien sed mauris consequat pretium. Vivamus feugiat justo eget lorem elementum, id dapibus sapien molestie. Phasellus rutrum suscipit orci, sit amet porta justo aliquam at. Proin sem metus, aliquam quis pretium nec, dictum at ante. Donec eu aliquam neque. Etiam cursus, tellus id lacinia lobortis, enim sapien vulputate risus, sed iaculis dolor eros a odio.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="http://{{ request.get_host }}/D01/book/{{ book.id }}/update">
            <button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2">수정</button>
          </a>
          <a href="http://{{ request.get_host }}/D01/book/{{ book.id }}/delete">
            <button type="button" class="btn btn-outline-danger btn-lg px-4">삭제</button>
          </a>
        </div>
      </div>
    </div>

  </div>

{% endblock %}