{% extends "../base.html" %}

{% block title %}D01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">D01: 만화책 목록</h1>
    <p><i class="bi bi-sign-turn-left mx-1"></i><a href="{% url 'D01:about' %}">개요로 돌아가기</a></p>
    <hr/>
    
    <div class="row">
      {% for c in ComicBook %}
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">
          <img src="{{ c.cover }}" class="card-img-top" alt="{{ c.isbn }}">
          <div class="card-body">
            <h5 class="card-title">{{ c.title }} <span class="fs-6">{{ c.number }}</span></h5>
            <p class="card-text">{{ c.author }}</p>
            <p class="card-text">{{ c.genre }} / {{ c.tag }}</p>
          </div>
          {% if user.is_staff %}
            <a class="btn btn-secondary mb-1" href="{% url 'D01:update' pk=c.id %}">수정</a>
            <a class="btn btn-danger mb-1" href="{% url 'D01:delete' pk=c.id %}">삭제</a>
          {% endif %}
        </div>
      </div><!-- /.col-lg-4 -->
      {% endfor %}
    </div><!-- /.row -->
  </div>

{% endblock %}