{% extends "../base.html" %}

{% block title %}이메일 변경{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 w-75">
      <h1 class="h1 mb-5 fw-bold text-center">이메일 변경</h1>
      <div class="row m-auto">
        <div class="col-12 col-xl-6 d-none d-lg-block">
          <label class="fs-5 fw-semibold">이메일 변경 안내</label>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu posuere purus. Maecenas suscipit tellus vel aliquet feugiat. Maecenas rhoncus ligula vel ipsum aliquet, at iaculis nulla tempus. Curabitur blandit, mauris id ultrices posuere, nibh est sollicitudin mauris, id tempor tellus nunc a augue. Suspendisse eget malesuada neque, ac porta justo. Mauris quis nulla massa. Nullam feugiat, orci ut vulputate mattis, massa odio ultricies eros, id consectetur justo nisl at lectus. Quisque in vestibulum elit. Suspendisse potenti. Integer maximus mollis fringilla. Ut vel eleifend dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus quam, lobortis nec metus quis, sagittis porta metus.</p>
        </div>
        <div class="col-12 col-xl-6">
          <form action="{% url 'a00:change-email' %}" method="POST">
            {% csrf_token %}
            <label for="email" class="fs-5 fw-semibold">현재 이메일 주소</label>
            <div class="input-group input-group-lg">
              <h3>{{ user.email }}</h3>
            </div>

            <label for="password" class="fs-5 fw-semibold">비밀번호</label>
            <div class="input-group input-group-lg">
              {{ form.password }}
            </div>

            <hr/>
            <label for="email" class="fs-5 fw-semibold">새로운 이메일 주소</label>
            <div class="input-group input-group-lg">
              {{ form.email }}
            </div>

            {% if message %}
            <div class="alert alert-danger" role="alert">
              <i class="bi bi-exclamation-diamond"></i>
              {{ message }}
            </div>
            {% endif %}

            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">이메일 변경하기</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}