{% extends "../base.html" %}

{% block title %}F01{% endblock %}

{% block content %}
    <div class="container mt-3">
      <h1 class="h1 fw-bold">F01: 개요</h1>
      <hr/>

      <h2 class="h2">회원정보</h2>
        {{ user }}(ID: {{ user.id }})
      <hr/>

    {% if user.is_authenticated %}
      <h2 class="h2">뷰(View)</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item"><a href="{% url 'F01:about' %}">개요 / About(TemplateView)</a></li>
        <li class="list-group-item"><a href="{% url 'F01:create' %}">게시물 생성 / CreateArticleView(CreateView)</a></li>
        <li class="list-group-item"><a href="{% url 'F01:list' %}">게시물 목록 / ListArticleView(ListView)</a></li>
        <li class="list-group-item">게시물 상세 / DetailArticleView(UpdateView)</li>
        <li class="list-group-item">게시물 수정 / UpdateArticleView(UpdateView)</li>
        <li class="list-group-item">게시물 삭제 / DeleteArticleView(DeleteView)</li>
      </ul>
    {% else %}
      <h2 class="h2">뷰(View)</h2>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item"><a href="{% url 'F01:about' %}">개요 / About(TemplateView)</a></li>
        <li class="list-group-item"><a href="{% url 'F01:list' %}">게시물 목록 / ListArticleView(ListView)</a></li>
      </ul>
    {% endif %}

    </div>
{% endblock %}