{% extends "../base.html" %}

{% block title %}F01{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h1 class="h1 fw-bold">F01: 게시물 목록</h1>
    <p><i class="bi bi-sign-turn-left mx-1"></i><a href="{% url 'F01:about' %}">개요로 돌아가기</a></p>
    <hr/>

    <div class="row">
      {% for a in Article %}
      <div class="col-lg-6 mb-3">
        <div class="card">
          <img src="{{ a.thumbnail }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ a.title }}</h5>
            <p class="card-text"><span class="fw-bold">작성자 </span>{{ a.user_id }}</p>
            <p class="card-text"><span class="fw-bold">작성일 / 수정일 </span>{{ a.published }} / {{ a.modified }}</p>
            <p class="card-text">{{ a.content | safe | truncatechars:140 }}</p>
            <a class="btn btn-primary" href="{% url 'F01:detail' pk=a.id %}">상세보기</a>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      {% endfor %}
    </div><!-- /.row -->
  </div>

  <ul class="pagination justify-content-center mb-3">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&tag={{ request.GET.tag }}">&larr;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&larr;</a>
      </li>
    {% endif %}

    {% if request.GET.page is None %}
      <li class="page-item active">
        <span class="page-link">1</span>
      </li>
    {% else %}
      <li class="page-item active">
        <span class="page-link">{{ request.GET.page }}</span>
      </li>
    {% endif %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&tag={{ request.GET.tag }}">&rarr;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&rarr;</a>
      </li>
    {% endif %}
  </ul>

{% endblock %}